body {
  color: #3c873a;
  color: #303030;
  color: #ffffff;
  color: #ff0000;
  color: #ff4000;
  color: #ff8000;
  color: #ffaa00;
  color: #00a300;
  color: #7721b0;
  color: #ef5350;
  color: #fffb38;
  color: #940000;
  color: #b2bec3;
  color: #222222;
  color: #ffe600;
  color: #aba200;
  color: #61a500;
  color: #ff6b00;
  color: #ff8000;
  color: #ff8000;
}
